.excel-table-toolbar .toolbar-block {
    display: inline-block;
    box-shadow: 0 0 0 1px #ccc;
    padding-top: 2px;
}

.excel-table-toolbar a {
    display: inline-block;
    width: 22px;
    height: 20px;
    background-position: center;
}

.append-column {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABjElEQVQ4T2NkoDJgpLJ5DDgN7D/1awIjw/94oIUCaJZ+YGBgXFBgxlaIzTFYDew//1+B8fev+////38ItPIBisb/DAqMjIzy/1nZFAsNGVHlgAqxG3j6twPj/3/7//9naCw0Z29ANrD/5M8GRkaG+v+MTI6FpqwH0F05aiAkRPpHwxBbsnnz9Zbv0cdFn0Fy++N2H4SpISvZ3HqzrP7W6xVwe/4z/P/A+J8hcW/irg0kGxiztvHA88/H7EGm9Xp0Mdx9d49h2qkZYMP//v9nSJKBDvMdBJgZ2d/DnLYnfgfDxZeXGIp3lEGE/jNsJMlAl/keDv8Z/+8HuUxfXA8l1xXvLGO48OLiB7yFA8P//w+QC4eXn04KnHrSZpBllsGgLKQENvTr768Md97dBXv7ztt7D/EWX0A/JAAV8CM7Zfv1cIY//7+DhTC9/H8hyQWs83y3AAZGxvUgA/Ul9Bi+/PoCjhigbz7+ZfilQLKBIIMc5rsaMDMwAYu1/w7/GRiB4fb/ANCwggOJBz4AAHbRL2euUTrXAAAAAElFTkSuQmCC");
}

.append-row {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABfUlEQVQ4T2NkoDJgpLJ5DCPdwP7z/xWYf/+RJyVc/7KyPCw0ZHwA0wMPw/5TvyYwMvzPJ8UwmNr/DIwTC83YCkB8JAN/fmD4//8DUGgBaYb+T2BkZOQvMGMXRDFwwqmf//8z/D9YaMbhQIqB/ad+HGBkYLQHGgh2HNyFw89Ah/kOAozMrPpmMjUTJHksDDC83H/q5wfG///fMzIRjpTTjzsdnn86Cg9rZmau/3//fA3am7hrA8nJ5ubrZQy3Xq8Ax1uvRxfD3Xf3GKadmgHm//3/zxAlL4MSNsOfPwq4Yvntlxs8xx+WbIbJ74nfwXDx5SWG4h1lEKH/DBtJKhxc5ns4/Gf8vx/kMn1xPRR7i3eWMVx4cfEDWQZmmWUwKAspgQ39+vsrw513d8HevvP23kOSDAQ5yXm+2wcGYM4AsTG9/H8hOQYGAA1cDzJQX0KP4cuvL+CIAWbbj38ZfimQbCDIIIf5rgbMDEwNQFMcgAUDMNz+HwAaVnAg8cAHAIpku1iQuyMXAAAAAElFTkSuQmCC");
}

.paste {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABgUlEQVQ4T2NkIAD6l69XKIwMfEBIHUyeEZ/C/sXrJgDlHRgY/wswMDM5EGMwioHOkckBjIyM+saGRkBDGP5LiIuZFsaG8AINXvDpyyfzb1+/PX/9+s3DR48fPfjz7c/EAxsWfEB3ENxAkGG83FzrleVkGWSVVCDq/gMxI8Of////swAtAgt9fP+O4fmzpwx3Hz6+sHvZHEOcBrpEpTToa6rX99SUMCzduo/hzYePWEPDx86C4euXzwwlLd0MQAMxggwugGwgoQi4dP3WIDFw4ulfhBwLCer/DI2F5uwNIDZeLw8NAz9+/c1w+eEnrF7n52Jh0FXgJ83LP379ZXj14SdWA9nZmBnEBdhJM/DRq28Myw89RjFQVoSLIcpBFi5GUqSAXfgRhwtZyXAhJAyx5xp+LlbSwxBbpMAiA+Zn0r2MFimwyMBvYESKAyMTw37k0PcumEp+TgHpdIhIUGBhYFGAmeJTNBXFAlymY/UyNsX9J3+C8ydBwMR0oNCU9QBIHQCZ4P4VnblilgAAAABJRU5ErkJggg==");
}

.copy {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABpElEQVQ4T63TMU/CQBQH8HfSUi0JINEwKV2Mg5LoIC6EGEwc3TTRRRn8AJ0c1dlBNz8BH0B3ExcSowsJk1sXo03UFgHpUaG2VyCkPa414SUNtNz9uP/dK4IJFxp4xXLz2LLgiOYjhPReRyw9lJAe9P8jYOvcHnxGm3CQ5eHuxaw1mmIhCA0FnuYFmOEBLis4EGWCy6kpAHtEfjECcyIC3bDg8bWrSvGpm56FbuVctOpNxAR3lzjqliWnybSGZkDBi/pAbGAwjQ6BDjdmqeB8DEFugYOK8utDfWBT+4aW3iDQyU5mLJiXOOh0wYf6wK/3D9DePgkk769QQT4C0I8Npo1qbetC3hScLnG23K1i2W0bErmN3ci5FBX0PrT7dzxIVmhfZIV7q+TzvqqCqrv7OlpZKQ5ZKQFMkHYoqo4BO9n6JdiZ00lheM8EaYdSU+pQ/zGHQELkycoGxQRHIw36kESuUyJnQkSmgSSy0yOeSsR4cC7qCmnHef2ELdqhpJNR2F5LsyOzwKDe+fcKJwZePZtbQRj5neMUeR0pztfhmxJqYohBf9cF6xXDioAoAAAAAElFTkSuQmCC");
}

.import-raw {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABEklEQVQ4T2NkoDJgpLJ5DLQz8P98hgSg8fFoLr7AmMBQSIovwC4EGmYANOw8Do0LgIYmEmsozEAHoIH7idWE7guG/wyOjIkMH0Di1DAQ6EWGRqCBDbgN5OZiYOACYmIBO/sBBj6uQkaz2xcwXcjGysCgokysUajqWBkUMQ0U4GdgkJIkz0BGYFhCYxkRKaIiDAwgTAZgNLvBiGmgghxp4Qez+P//i4zmNw0wDdRQZWBgYibdff//bwQaGIBqIDMTA4O6GumGgcMNmHTMbzSgGghKLvJAL5MDQBFieuMAatajIEIYQEnG8MYDeGkDLhzERIsZeLhlSXLg/3+fGBhZKhnt7y2F5xSSDCCgmHblIbVcCQCB7kldNLgHIQAAAABJRU5ErkJggg==");
}

.export-csv {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABXElEQVQ4T2NkoDJgRDbPZ9uaCUC+PgE7PrBwMiducAz8gE0dioG+21YfYGBgtMdnYLSaNsOSm1cusHCxOGIzlGQDJ9u4Mpx8+Yxh8S3shpJlIMgHuAwl2cA8XRN4iIAMPfny6cbN3qEBMEGSDcQM3/8HN3uFOgwDAx8/eghMQYwMsrJyDG/evGH49Okjg4SEBMNbIFtWTp7h5s0bDOrqGkCfEuFlkGEfP31i+P7tK4OcvDzDjRs3gIZJMvDx8zNcvXKJwcrKhuHChfNgmigDQbYLC4swiIiIgMP62LEjDFycXAza2rpAg84CDRZgYGVlYVBSUiHeQJBr/vz6xcDGzsbw7z8D2KtcXJxgC+7du8dgamrGwA80mCgX/v71G+wSEDAwMGa4cu0S0PvfgWxDsNjVK5cZTM0soCmFiDAkrQAaNRC9gGVk+G9AShj+Z2C8sMUrpABrXibFIFxqAbDGyBUhBuabAAAAAElFTkSuQmCC");
}

.export-raw {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABbklEQVQ4T2NkoDJgRDbPZ9uaCUC+PgE7PrBwMiducAz8gE0dioG+21YfYGBgtMdnYLSaNsOSm1cusHCxOGIzlGQDJ9u4Mpx8+Yxh8S3shpJlIMgHuAwl2cA8XRN4iIAMPfny6cbN3qEBMEGSDcQM3/8HN3uFOgxxA9+8ecPAxcXJ8O3bd4bv378xyMrKMYDE/vz+xSAhKcVw794dBiUlFYbHjx4yyMrJEfbyzZs3GFhZWRjeAg3h5OJmEBYRYXgC1MzCxsogIiTCcOHieQZnZ1eGCxfOM1hZWRNnIB8/P9gQPn4BeDwIC4swvH37huHFi+cMIPanTx8JG/j40SP7N+/egF0Cch1I8+8/vxi4OLmBmBPI/g0UewGU42T4DgwSgi68cuWKPcgAHS09hivXLjH8+fWbwcDAGIV989YNYBgqAcPyHoOOjg5hL5NWAA2LdEg1L4MKWEaG/wakGPifgfHCFq+QAqx5mRSDcKkFABzp3BUBVkUmAAAAAElFTkSuQmCC");
}

.split-line {
}